<template>
  <div>
    <base-header class="pb-6 pb-8 pt-8 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
    </base-header>

    <!--Charts-->
    <b-container fluid class="mt--7">
      <!-- End charts-->
      <b-row class="m-0">
        <b-col class="m-0 p-0">
          <b-card class="card-custom">
            <div class=" ml-2 mr-2 pt-4 ">
              <div class="ml-4">
                <b-button to="/CreateTour" variant="primary">
                  + New Tour
                </b-button>
              </div>
              <div class="input-group mb-4 p-4">
                <b-form-input
                  id="filter-input"
                  v-model="filter"
                  type="search"
                  placeholder="Type to Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">
                    Clear
                  </b-button>
                </b-input-group-append>
              </div>
              <div>
                <b-row class="m-0">
                  <b-col cols="12" class="p-0">
                    <b-table
                      :items="items"
                      :fields="fields"
                      :sort-by.sync="sortBy"
                      :sort-desc.sync="sortDesc"
                      sort-icon-left
                      responsive
                      :sticky-header="true"
                      :current-page="currentPage"
                      :per-page="10"
                      :filter="filter"
                      :filter-included-fields="filterOn"
                      :sort-direction="sortDirection"
                      show-empty
                      hover
                      @filtered="onFiltered"
                    >
                      <template v-slot:cell(image)="data">
                        <b-img
                          thumbnail
                          style="width: 50px; height: 50px"
                          :src="data.item.image"
                          alt="Left image"
                        >
                        </b-img>
                      </template>
                      <template v-slot:cell(_id)="data">
                        <div style="width: 50px">
                          <div class="float-left">
                            <b-icon
                              icon="trash"
                              scale="1.5"
                              variant="danger"
                              @click.prevent="deleteProduct(data.item._id)"
                            >
                            </b-icon>
                          </div>
                          <div class="float-right">
                            <b-icon
                              icon="journal-arrow-down"
                              scale="1.5"
                              variant="primary"
                              @click="initEdit(data.item._id)"
                            >
                            </b-icon>
                          </div>
                        </div>
                      </template>

                      <template #cell(show_details)="row">
                        <b-button
                          pill
                          variant="outline-secondary"
                          size="sm"
                          @click="row.toggleDetails"
                          style="width: 100px"
                        >
                          Chi tiết
                        </b-button>
                      </template>

                      <template #row-details="row">
                        <b-card>
                          <b-card class="mt-3 ml-3 mr-3 mb-2">
                            <b-row>
                              <b-col cols="4" class="pr-0">
                                <b-carousel
                                  id="carousel-1"
                                  v-model="slide"
                                  :interval="2000"
                                  controls
                                  indicators
                                  background="#ababab"
                                  style="text-shadow: 1px 1px 2px #333"
                                >
                                  <b-carousel-slide
                                    style="height: 150px"
                                    v-for="i in row.item.listImage.length"
                                    :key="i + 1"
                                    :img-src="row.item.listImage[i]"
                                  >
                                  </b-carousel-slide>
                                </b-carousel>
                              </b-col>
                              <b-col cols="4" class="ml-0">
                                <b-row class="mb-2">
                                  <b-col cols="6" class="text-sm-right">
                                    <b> Địa điểm tập trung: </b>
                                  </b-col>
                                  <b-col>{{ row.item.startPlace }}</b-col>
                                </b-row>
                                <b-row class="mb-2">
                                  <b-col cols="6" class="text-sm-right">
                                    <b> Số người tham gia: </b>
                                  </b-col>
                                  <b-col>{{
                                    row.item.numberOfParticipants
                                  }}</b-col>
                                </b-row>
                                <b-row class="mb-2">
                                  <b-col cols="6" class="text-sm-right">
                                    <b> Miêu tả: </b>
                                  </b-col>
                                  <b-col>{{ row.item.description }}</b-col>
                                </b-row>
                              </b-col>
                              <b-col cols="4">
                                <b-row class="mb-2">
                                  <b-col cols="6" class="text-sm-right">
                                    <b> Giá người lớn: </b>
                                  </b-col>
                                  <b-col>{{
                                    row.item.priceDetail.adult
                                  }}</b-col>
                                </b-row>
                                <b-row class="mb-2">
                                  <b-col cols="6" class="text-sm-right">
                                    <b> Giá trẻ dưới 12 tuổi: </b>
                                  </b-col>
                                  <b-col>{{
                                    row.item.priceDetail.underTheAgeOfTwelve
                                  }}</b-col>
                                </b-row>
                                <b-row class="mb-2">
                                  <b-col cols="6" class="text-sm-right">
                                    <b> Giá trẻ dưới 5 tuổi: </b>
                                  </b-col>
                                  <b-col>{{
                                    row.item.priceDetail.underTheAgeOfFive
                                  }}</b-col>
                                </b-row>
                              </b-col>
                            </b-row>
                          </b-card>
                          <b-card
                            class=" ml-3 m-5 "
                            v-for="i in row.item.numDay.length"
                            :key="i"
                            :header="'Ngày ' + i"
                          >
                            <b-row class="mb-2">
                              <b-col sm="3" class="text-sm-right">
                                <b> Địa điểm: </b>
                              </b-col>
                              <b-col>{{ row.item.place[i].placeName }}</b-col>
                            </b-row>

                            <b-row class="mb-2">
                              <b-col sm="3" class="text-sm-right">
                                <b> Phương tiện: </b>
                              </b-col>
                              <b-col>{{ row.item.transportation[i] }}</b-col>
                            </b-row>
                            <b-row class="mb-2">
                              <b-col class="ml-3">
                                <b> Lịch trình: </b>
                              </b-col>
                            </b-row>
                            <b-row class="mb-2">
                              <b-col cols="6" class="m-3">
                                <span v-html="row.item.detail[i]"></span>
                              </b-col>
                              <b-col cols="6" class="m-3"> </b-col>
                            </b-row>
                          </b-card>
                        </b-card>
                      </template>
                    </b-table>
                  </b-col>
                </b-row>
                <b-row class="m-0">
                  <b-col cols="6">
                    <div class="pb-5 pr-5 pt-3 mr-5">
                      <span>
                        Total:
                        <b>
                          <span class="text-primary">{{ Total }}</span>
                        </b>
                        item
                      </span>
                    </div>
                  </b-col>
                  <b-col cols="6">
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      pills
                      size="sm  "
                      align="right"
                      class="mt-3"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <!--Tables-->
      <b-row class="mt-5"> </b-row>
      <!--End tables-->
    </b-container>
  </div>
</template>
<script>
import moment from "moment";
export default {
  components: {},
  data() {
    return {
      stickyHeader: true,
      noCollapse: false,
      sortBy: "age",
      sortDesc: false,
      state: "disabled",
      totalRows: 1,
      perPage: 8,
      currentPage: 1,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      fields: [
        { key: "tourId", label: "ID", sortable: true },
        { key: "tourName", label: "TOUR", sortable: true },

        { key: "employee.fullName", label: "HƯỚNG DẪN VIÊN", sortable: true },
        {
          key: "startDate",
          formatter: "formatDate",
          label: "NGÀY ĐI",
          sortable: true
        },
        {
          key: "endDate",
          formatter: "formatDate",
          label: "NGÀY VỀ",
          sortable: true
        },

        { key: "typesOftourism", label: "LOẠI HÌNH", sortable: true },

        { key: "show_details", label: "Lịch trình", sortable: true },
        { key: "_id", label: "Tác vụ" }
      ],
      items: [],
      post: {},
      cart: 0,
      slide: 0,
      sliding: null,
      Total: 0
    };
  },

  mounted() {
    this.getAllTour();
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  methods: {
    getAllTour() {
      let uri = `${process.env.VUE_APP_PORT}/tours`;
      this.axios.get(uri, this.ticket).then(response => {
        this.items = response.data;
        this.Total = this.items.length;
        this.totalRows = this.items.length;
      });
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    formatDate(value) {
      return moment(value).format("MMMM DD YYYY");
    },
    // xóa sản phẩm
    deleteProduct(id) {
      let uri = `${process.env.VUE_APP_PORT}/tour/${id}`;
      this.axios.delete(uri).then(() => {
        this.items.splice(this.items.indexOf(id), 1);
      });
    },
    // chi tiết sản phẩm
    initEdit(idTour) {
      this.$router.push({ name: "updateTour", params: { id: idTour } });
    }
  }
};
</script>
<style>
.el-table .cell {
  padding-left: 0px;
  padding-right: 0px;
}
.card-custom .card-body {
  padding: 0 !important;
}
.b-table-sticky-header {
  max-height: none !important;
}
</style>
